<?xml version="1.0"?>
<config>
    <modules>
        <AtlanticBT_AttributeSetFilter>
            <version>1.0.0</version>
        </AtlanticBT_AttributeSetFilter>
    </modules>
    <global>
        <helpers>
            <atlanticbt_attributesetfilter>
                <class>AtlanticBT_AttributeSetFilter_Helper</class>
            </atlanticbt_attributesetfilter>
        </helpers>
        <models>
            <atlanticbt_attributesetfilter>
                <class>AtlanticBT_AttributeSetFilter_Model</class>
            </atlanticbt_attributesetfilter>
        </models>
        <resources>
            <atlanticbt_attributesetfilter_setup>
                <setup>
                    <module>AtlanticBT_AttributeSetFilter</module>
                    <class>AtlanticBT_AttributeSetFilter_Model_Resource_Setup</class>
                </setup>
            </atlanticbt_attributesetfilter_setup>
            <atlanticbt_attributesetfilter_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </atlanticbt_attributesetfilter_write>
            <atlanticbt_attributesetfilter_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </atlanticbt_attributesetfilter_read>
        </resources>

        <events>
            <catalog_product_save_before>
                <observers>
                    <atlanticbt_attributesetfilter>
                        <type>singleton</type>
                        <model>atlanticbt_attributesetfilter/observer</model>
                        <method>catalogProductSaveBefore</method>
                    </atlanticbt_attributesetfilter>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
</config>